
@{
    Layout = null;
}

<div class="panel rounded shadow panel-teal">
    <div class="panel-heading">
        <div class="pull-left">
            <h3 class="panel-title">HESABIM</h3>
        </div>

        <div class="pull-right">
            <form action="#" class="form-horizontal mr-5 mt-3"> </form>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body no-padding">

        <div class="hb-box content">
            <div class="contentArea">
                <span class="hb-font-h5">
                    "Hesabım" sayfasından siparişlerinizi ve arıza/iade/değişim işlemlerinizi takip edebilir;
                    kazandığınız hediye çeki ve puanları görüntüleyebilir;
                    Üyelik bilgileri güncelleme,
                    şifre ve adres değişikliği gibi hesap ayarlarınıızı koayca yapabilirsiniz.
                </span>

            </div>

        </div>
        <br />
        <br />

        <div class="contentArea">
            <span class="hb-box">
                Size özel fırsatlar ve dönemsel kampanyalar da bu sayfada duyurulur.
            </span>

        </div>
        <h2 class="page-header"></h2>
        <div class="inboxInfoContainer">
            <span class="hb-font-h5">Merhaba, </span>
            <ul class="inboxInfoMessage">
                &nbsp;&nbsp;
                <dt &nbsp;&nbsp;=""> Okunmamış mesajınız bulunmuyor. </dt>
                &nbsp;&nbsp;
                <dt> Onaylama bekleyen dekontunuz bulunmuyor. </dt>
                &nbsp;&nbsp;
                <dt> Kullanılabilir hediye çekiniz bulunmuyor. </dt>
            </ul>
        </div>
        <h2 class="page-header"></h2>
        <section class="comment-list">
            <!--First Comment-->

        </section>
    </div>

</div>