<div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Giriş Yap</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">


                    <div class="md-form mb-5">
                        <div class="input-group">
                            <span class="input-group-addon">  <i class="fas fa-user prefix grey-text"></i></span>
                            <input type="email" cid="form3" class="form-control validate" name="Email" id="Email" placeholder="E-Posta" />
                        </div>
                    </div>

                    <br />
                    <div class="md-form mb-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-envelope prefix grey-text"></i></span>
                            <input type="Password" class="form-control validate" name="Password" id="Password" placeholder="Şifreniz" for="form2" />
                        </div>
                    </div>
                    <br />
                    <div class="md-form mb-3">
                        <a href="#">Forgot Password?</a>
                    </div>


                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-danger">Giriş Yap <i class="fas fa-paper-plane-o ml-1"></i></button>
                </div>

            </div>
        </div>
    </div>