@model List<OnlineShopp.Models.UserModel.CategoriesWithTopName>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script type="text/javascript" src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

</head>
<div class="card-body">

    <div class="table-responsive">

        <table id="category" class="display" style="width:100%">
            <thead>
                <tr>
                    @*<th>No</th>*@
                    <th>Üst Kategori</th>
                    <th>Kategori İsmi</th>

                    <th>Kategori Sil</th>

                    <th>Kategori Düzenle</th>

                   
                </tr>
            </thead>
            @*@{
            int a = 1;
        }*@
            @foreach (var item in Model)
            {
                <tbody>

                    <tr>
                        @*<td>@item.CategoryID</td>*@
                        <td>@item.TopCategoryAdi</td>
                        <td>@item.CategoryAdi</td>
                        <td>
                            <a class="btn btn-primary" onclick="CategoryDelete('@item.CategoryID')">Sil</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="/Categories/Add/@item.CategoryID">Düzenle</a>
                        </td>

                    </tr>

                </tbody>
            }




        </table>

    </div>
    

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#category').DataTable();
    });

    function CategoryDelete(catid) {
        $.confirm({
            title: 'Kategori Sil!',
            content: 'İlgili kategoriyi silmek istediğinize emin misiniz?',
            buttons: {
                confirm: function () {
                    $.ajax({
                        url: "/Categories/CategoryDelete",
                        type: "POST",
                        data: { id: catid },
                        success: function (result) {
                            alert(result);
                            window.location.href = '/Categories/List';
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });
                },
                cancel: function () {
                },
            }
        });    }
</script>

