@using OnlineShopp.Models
@model List<OrderStatus>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script type="text/javascript" src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

</head>
<div>
    <br />
    <a href="/OrderStatus/Add/" class="p-2"><button class="btn btn-outline-info">Yeni Sipariş durumu Ekle</button></a>
    <br />
    <br />
</div>
<div class="card-body">

    <div class="table-responsive">

        <table id="variant" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Sipariş Durum</th>

                    <th>Detay</th>

                    <th> Sil</th>
                    <th> Düzenle</th>



                </tr>
            </thead>
          
            @foreach (var item in Model)
            {
                <tbody>

                    <tr>
                        <td>@item.OrderStatusID</td>
                        <td>@item.OrderStatusDescription</td>
                        <td>@item.OrderStatusDetails</td>

                        <td>
                            <a class="btn btn-primary" href="/OrderStatus/Delete/@item.OrderStatusID" onclick="return confirm('Sipariş Durumunu Silmek İstediğinizden Emin Misiniz?')">Sil</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="/OrderStatus/Add/@item.OrderStatusID">Düzenle</a>
                        </td>

                    </tr>

                </tbody>
            }




        </table>

    </div>


</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#variant').DataTable();
    });
</script>
